<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="{{asset('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')}}">
        <script src="{{'https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'}}"></script>
        <link rel="stylesheet" href="{{asset('css/style.css')}}">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header>
            <nav>
                <ul id="menu">
                    <li><a href="/" class="active">L'injonction</a></li>
                    <li><a href="questionnaire">Sondage</a></li>
                    <li><a href="{}">Résultats</a></li>
                </ul>
                <ul id="lang">
                    <li><a href="{}" class="active">FR</a></li>
                    <li><a href="{}">EN</a></li>
                </ul>
            </nav>
        </header>
        {% block body %}
            <h1>{{title}}</h1>
        {% endblock %}
    </body>
</html>
